<mav-geomap [stateDataStream]="stateDataStream"
            [stateField]="stateField"
            [stateColorField]="stateColorField"
            [stateFields]="stateFields"
            [stateColorFields]="stateColorFields"
            [pointDataStream]="pointDataStream"
            [pointPositionField]="pointPositionField"
            [pointRadiusField]="pointRadiusField"
            [pointColorField]="pointColorField"
            [pointPositionFields]="pointPositionFields"
            [pointRadiusFields]="pointRadiusFields"
            [pointColorFields]="pointColorFields">
</mav-geomap>
